table {
    /* background-color: aqua; */
}
/* thead {
    background-color: #fff;
}
tbody {
    background-color: #fff;
}
tfoot {
    background-color: #fff;
} */
table {
    /* width: 400px; */
}
table, th, td {
    border: 1px solid;
    border-collapse: collapse;
    /* border-spacing: 10px;  only works on non-collapsed border */
}
th, td {
    padding:10px;
    text-align: left;
}

/* 
redundant
tr {
    border: 1px solid;
} */

tr:nth-child(odd) {
    background-color: blueviolet;
}

th {
    background-color: green;
}


 /* th:nth-child(odd) {
    background-color: blueviolet;
 }
 td:nth-child(odd) {
    background-color: blueviolet;
 } */