.box {
    background-color: aquamarine;
    /* padding */
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    /* width: 200px;
    height: 200px; */
    /* padding: 10px; */

    /* border */
    border-top: solid 5px black;
    border-right: dashed 10px rgb(6, 124, 102);
    border-bottom: groove 15px rgb(233, 5, 130);
    border-left: outset 20px rgb(127, 249, 86);
    /* border-width: 5px;
    border-style: solid;
    border-color: black; */
    /* border: solid 5px black; */

    /* rounded border */
    /* border-radius: 100%; */
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;

    /* margin */
    margin-top: 100px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    /*  margin: 100px 10px 10px 10px; */


    /* 
        width: 400 
        padding: 10+20 = 30
        margin: 30+50 = 80
        border: 22+22 = 44
        total: 400+110+44 = 510+44 = 554px

        height: 440
        padding: 25+30 = 55
        margin: 10+20=30
        border: 22+22=44
        total: 440+85+44

    */

    /* height: 800px; */
    /* max-height: 800px;
    overflow: auto; */
}

img {
    width: 400px;
    height: 300px;
}